<div class="wrapper">
  <div class="title">
    <h1><%= @title %></h1> is
  </div>
  <div>
    <span id="local">??:??:??</span>
  </div>
  <div>
    your time
  </div>
  <div id="zone"></div>
  <div>
    <div class="clock">
      <span class="label">theirs</span>
      <%= erb :"clock.svg", locals: {prefix: "source"} %>
    </div>
    <div class="clock">
      <span class="label">yours</span>
      <%= erb :"clock.svg", locals: {prefix: "target"} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var date = new Date('<%= @day_string_for_javascript %> <%= @time %> <%= @time_zone %>');
  document.getElementById("local").innerHTML = date.toLocaleTimeString();
  
  try {
    // Get timezone. See http://stackoverflow.com/a/12496442
    var ds = date.toString();
    var TZ = ds.indexOf('(') > -1 ?
    ds.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
    ds.match(/[A-Z]{3,4}/)[0];
    if (TZ == "GMT" && /(GMT\W*\d{4})/.test(ds)) TZ = RegExp.$1;
    // show tz
    document.getElementById("zone").innerHTML = ("assuming the date is <%= @day %> and your time zone is <a target='_blank' rel='nofollow' href='https://www.google.com/search?q=%22" + TZ + "%22+timezone+site:wikipedia.org&btnI'>" + TZ + "</a>");
  } catch(e) {
    console.log(e);
  }

  function setClock(prefix, hours, minutes) {
    var time    = Math.min(60000, 1.025 * (1000 * date.getSeconds() + date.getMilliseconds()));
    var seconds = Math.floor(time / 1000);
    var millis  = time % 1000;
    rotate(prefix+'hourHand',   hours * 30 + minutes * 0.5);
    rotate(prefix+'minuteHand', minutes * 6);
    rotate(prefix+'secondHand', 6 * seconds + 3 * (1 + Math.cos(Math.PI + Math.PI * (0.001 * millis))));
  }
    
  function rotate(id, angle) {
    var element = document.getElementById(id);
    if (element) {
      element.setAttribute('transform', 'rotate(' + angle + ', 100, 100)');
      if (element.getAttribute('visibility') == 'hidden') {
        element.setAttribute('visibility', 'visible');
      }
    }
  }

  setClock("source",date.getHours(), date.getMinutes());
  setClock("target",<%= @hours %>, <%= @minutes %>);

</script>